@import "helpers/px2rem";

@mixin bg-color($main-color) {
  background-color: $main-color;
}

@mixin main-page-style {
  overflow: auto;
  @include px2rem(padding-top, 60px);
  width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100%;
}

@mixin title1 {
  @include px2rem(padding-top, 105px);
  width: 58%;
  @include px2rem(height, 48px);
}

@mixin title2 {
  @include px2rem(padding-top, 62px);
  width: 85%;
  @include px2rem(height, 58px);
  @include px2rem(font-size, 28px);

}

@mixin sequence-title-style {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100%;
  h2 {
    display: inline;
    font-weight: normal;
    color: #e3f9e2;
    letter-spacing: 0.1em;
    text-shadow: 0 0 1px rgba(170, 253, 50, .5), 0 0 3px rgba(170, 253, 50, .5), 0 0 5px rgba(170, 253, 50, .5), 0 0 10px rgba(170, 253, 50, .5);
  }
}

@mixin text-indent($indent-em) {
  text-indent: $indent-em;
}

// 文字超过长度显示... START
@mixin word-width($word-count) {
  width: $word-count;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
// 文字超过长度显示... START