@charset "UTF-8";
.slideInRight, .tada, .bounceInLeft, .slideInLeft, .flash, .slideInDown, .bounceIn, .pulse, .reservation-title h1 .bounceIn {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px); }
  100% {
    -webkit-transform: translateX(0); } }
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px); }
  100% {
    transform: translateX(0); } }
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight; }

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1); }
  10%,20% {
    -webkit-transform: scale(0.9) rotate(-3deg); }
  30%,50%,70%,90% {
    -webkit-transform: scale(1.1) rotate(3deg); }
  40%,60%,80% {
    -webkit-transform: scale(1.1) rotate(-3deg); }
  100% {
    -webkit-transform: scale(1) rotate(0); } }
@keyframes tada {
  0% {
    transform: scale(1); }
  10%,20% {
    transform: scale(0.9) rotate(-3deg); }
  30%,50%,70%,90% {
    transform: scale(1.1) rotate(3deg); }
  40%,60%,80% {
    transform: scale(1.1) rotate(-3deg); }
  100% {
    transform: scale(1) rotate(0); } }
.tada {
  -webkit-animation-name: tada;
  animation-name: tada; }

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px); }
  80% {
    -webkit-transform: translateX(-10px); }
  100% {
    -webkit-transform: translateY(0); } }
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px); }
  60% {
    opacity: 1;
    transform: translateX(30px); }
  80% {
    transform: translateX(-10px); }
  100% {
    transform: translateY(0); } }
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft; }

@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px); }
  100% {
    -webkit-transform: translateX(0); } }
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px); }
  100% {
    transform: translateX(0); } }
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft; }

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
.flash {
  -webkit-animation-name: flash;
  animation-name: flash; }

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); }
  100% {
    -webkit-transform: translateY(0); } }
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px); }
  100% {
    transform: translateY(0); } }
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown; }

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05); }
  70% {
    -webkit-transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1); } }
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3); }
  50% {
    opacity: 1;
    transform: scale(1.05); }
  70% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1); } }
@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse; }

/* banner图中间动画部分 START */
.top-triangle-animate1 {
  animation: slideInRight 2s 2s alternate; }

.success-reg-page .top-triangle {
  padding-top: 0.66667rem; }

.top-triangle {
  width: 100%;
  height: 0.8rem; }
  .top-triangle img {
    width: 7.86667rem; }

/* 中间 黑马创交会 大字 */
.big-title-animate2 {
  animation: tada 2s 2s alternate; }

.big-title {
  width: 100%;
  height: 2.33333rem; }
  .big-title img {
    width: 8.72rem; }

.bottom-triangle-animate1 {
  animation: slideInLeft 1s 2s alternate; }

.bottom-triangle-animate2 {
  animation: flash 3s infinite 2s alternate; }

.success-reg-page .bottom-triangle {
  top: 3.6rem;
  height: 1.06667rem; }
  .success-reg-page .bottom-triangle img {
    width: 7.46667rem; }

.bottom-triangle {
  position: absolute;
  top: 3.86667rem;
  width: 100%;
  height: 1.33333rem; }
  .bottom-triangle img {
    width: 7.86667rem; }

/* banner图中间动画部分 END */
/* 完美收官几个大字 */
.end-img {
  animation: bounceIn 1s 2 2s alternate; }

/* 预约成功结果页中间的大标题 START */
.reservation-title h1 {
  animation: bounceIn 1s 2s alternate; }
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05); }
  70% {
    -webkit-transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1); } }
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3); }
  50% {
    opacity: 1;
    transform: scale(1.05); }
  70% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
  .reservation-title h1 .bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn; }

/* 预约成功结果页中间的大标题 END */
/* 中间 飞船 */
.lb-head-animate2 {
  animation: pulse 3s infinite 2s alternate; }

.lb-head-animate1 {
  animation: slideInDown 2s 2s alternate; }

.lb-head {
  position: absolute;
  top: 1.06667rem;
  width: 100%;
  height: 6.05333rem; }
  .lb-head img {
    width: 5.65333rem; }

/* 中间 全行业 几个大字 */
.lb-title {
  position: absolute;
  top: 5.33333rem;
  margin-left: -0.2rem;
  width: 100%;
  height: 1.22667rem; }
  .lb-title img {
    width: 3.37333rem; }

.lb-title-animate1 {
  animation: bounceIn 2s 2s alternate; }

/* 外星人 */
.lb-head2 {
  position: absolute;
  top: 5.33333rem;
  margin-left: 0.4rem;
  text-align: left;
  height: 3.01333rem; }
  .lb-head2 img {
    width: 1.94667rem; }

.lb-head2-animate1 {
  animation: bounceInLeft 2s 2s alternate; }

.current .title {
  -webkit-animation: slideToTop .8s ease both; }

.current .subtitle {
  -webkit-animation: slideToTop .8s 0.3s ease both; }

.current .arrow {
  -webkit-animation: swipeMoveTop 1.5s 1s ease infinite; }

.current .arrow-h {
  -webkit-animation: swipeMoveLeft 1.5s 1s ease infinite; }

/*上滑提示*/
@-webkit-keyframes swipeMoveTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0); }
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0); } }
/*左滑提示*/
@-webkit-keyframes swipeMoveLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(10px, 0, 0); }
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-10px, 0, 0); } }
@-webkit-keyframes slideToTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }

/*# sourceMappingURL=animate.css.map */
