@import '../helpers/px2rem';
/* 全行业排行榜  按钮 */
a.btn-style{
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include px2rem(border-radius,4px);
  @include px2rem(font-size, 36px);
  text-decoration: none;
  color: #fff;
  background: #2cdbb2;
}
a.l-btn{
  width: 89%;
  @include px2rem(height, 88px);
  @include px2rem(line-height, 88px);
}
a.m-btn{
  width: 52%;
  @include px2rem(height, 72px);
  @include px2rem(line-height, 72px);
}
a.l-btn:hover{
  background-color: #10c5a5;
}

/* 向下剪头 */
.bottom-arrow{
  a{
    display: block;
    @include px2rem(padding,15px);
    img{
      @include px2rem(width,64px);
      @include px2rem(height,58px);
    }
  }
}