@import '../helpers/px2rem';
@import "../helpers/css3";
@import "../main";

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

i {
  font-style: normal;
}

/* 权益说明 文字 START */
.interest-text {
  margin: 0 auto;
  @include px2rem(margin-bottom, 60px);
  @include px2rem(padding-bottom, 55px);
  @include px2rem(padding-left, 40px);
  width: 76%;
  @include px2rem(font-size, 14px);
  text-align: left;
  color: #e3f9e2;
  p {
    @include px2rem(line-height, 26px);
  }
  h4 {
    font-weight: normal;
    @include px2rem(margin-top, 28px);
    @include px2rem(margin-bottom, 25px);
  }
  .text-in {
    @include text-indent(4em);
  }
}

/* 权益说明 文字 END */

/* 行业分数标签 START */

.industry-tag {
  width: 95%;
  margin: 0 auto;
  ul {
    li {
      display: inline-block;
      @include px2rem(margin-top, 30px);
      @include px2rem(margin-bottom, 30px);
      @include px2rem(margin-left, 10px);
      @include px2rem(margin-right, 10px);
      width: 26%;
      @include px2rem(height, 54px);
      @include px2rem(font-size, 26px);
      @include px2rem(line-height, 54px);
      border-radius: 4px;
      a {
        display: block;
        width: 100%;
        @include px2rem(height, 54px);
        color: #959bca;
        background-color: rgba(146, 165, 255, .15);
      }
      a:hover {
        text-decoration: none;
        color: #d9d6ff;
        background-color: rgba(146, 165, 255, .3);
      }
    }
  }
}

/* 行业分数标签 END */

.mb-305 {
  @include px2rem(margin-bottom, 305px);
}

.mb-160 {
  @include px2rem(margin-bottom, 160px);
}

.mb-30 {
  @include px2rem(margin-bottom, 30px);
}

.mb-20 {
  @include px2rem(margin-bottom, 20px);
}

.mb-10 {
  @include px2rem(margin-bottom, 10px);
}

.mb-80 {
  @include px2rem(margin-bottom, 80px);
}

.mt-30 {
  @include px2rem(margin-top, 30px);
}

.mt-20 {
  @include px2rem(margin-top, 20px);
}

.mt-10 {
  @include px2rem(margin-top, 10px);
}

.mt-54 {
  @include px2rem(margin-top, 54px);
}

.mt-80 {
  @include px2rem(margin-top, 80px);
}

.mt-200 {
  @include px2rem(margin-top, 200px);
}

.mt-120 {
  @include px2rem(margin-top, 120px);
}



