@charset "UTF-8";
/* 定制一个font-dpr()这样的Sass混合宏 */
/* 有了这样的混合宏之后，在开发中可以直接这样使用 */
/* 定制一个font-dpr()这样的Sass混合宏 */
/* 有了这样的混合宏之后，在开发中可以直接这样使用 */
/* 文字超过长度显示... START */
/* 文字超过长度显示... START */
body {
  background-color: #f1f0f6; }

html {
  background-color: #f1f0f6; }

/* 经典的 clearfix 代码 */
.clearfix {
  display: block;
  zoom: 1;
  /* 只针对IE6/7 */ }

/*所有主流浏览器都支持 :after 伪元素。*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/*------------------------------------------------ 受邀企业提交 ------------------------------------------------ */
.form-style {
  padding: 0.4rem;
  font-size: 14px; }
  [data-dpr="2"] .form-style {
    font-size: 28px; }
  [data-dpr="3"] .form-style {
    font-size: 42px; }
  .form-style label {
    display: inline-block;
    margin-right: 0.2rem;
    line-height: 1.04rem;
    color: #666;
    text-align: right; }
  .form-style input {
    display: inline-block;
    outline: none; }
  .form-style input:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  .form-style input, .form-style select {
    height: 0.93333rem; }
  .form-style textarea {
    padding-top: 10px; }
  .form-style textarea, .form-style input[type="text"], .form-style input[type="email"], .form-style input[type="number"], .form-style input[type="date"], .form-style select {
    padding-left: 0.26667rem;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 0.05333rem; }
  .form-style legend {
    color: #2cdbb2;
    line-height: 1.04rem; }
  .form-style button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    height: 1.04rem;
    line-height: 1.04rem;
    border-radius: 0.05333rem;
    border: 0;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background: #2cdbb2;
    outline: none; }
    [data-dpr="2"] .form-style button {
      font-size: 36px; }
    [data-dpr="3"] .form-style button {
      font-size: 54px; }
  .form-style button:hover {
    background: #10c5a5; }
  .form-style span {
    color: #aeaeae; }
  .form-style span.wan {
    margin-left: -0.8rem; }
  .form-style legend i {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.13333rem;
    width: 0.33333rem;
    height: 0.2rem;
    background: url("../../images/arrow2.png");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 100%;
    cursor: pointer; }
  .form-style .active {
    background: url("../../images/arrow3.png");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 100%; }
  .form-style input[type="button"] {
    color: #2cdbb2;
    background-color: transparent;
    border: 1px solid #2cdbb2;
    border-radius: 4px;
    outline: none; }

/*------------------------------------------------  当前企业提交 ------------------------------------------------ */
.register-info-page label {
  width: 30%; }
.register-info-page .textarea-label {
  vertical-align: top; }
.register-info-page textarea, .register-info-page input {
  width: 62%; }
.register-info-page select {
  width: 65.8%; }
.register-info-page .plus-less {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  text-align: center; }
.register-info-page .plus, .register-info-page .less {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 0; }
.register-info-page .plus {
  background-image: url("../../images/puls.png"); }
.register-info-page .less {
  background-image: url("../../images/less.png"); }
.register-info-page #panel3 {
  display: block;
  border: 1px solid #dddddd; }

.reserve-info-page input[type="button"].getcode-btn {
  margin-left: 0.13333rem;
  width: 32%; }
.reserve-info-page input[type="text"].getcode-input {
  width: 35%; }
.reserve-info-page textarea, .reserve-info-page input {
  width: 72%; }
.reserve-info-page label {
  width: 20%; }

/* 手机验证页面的样式 START */
.phone-verification-form {
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  .phone-verification-form input[type="number"] {
    width: 90%; }
  .phone-verification-form input[type="text"] {
    width: 56%; }
  .phone-verification-form input[type="button"] {
    width: 30%;
    margin-left: 0.26667rem; }

/* 手机验证页面的样式 END */
/*------------------------------------------------ 图片上传按钮的样式 ------------------------------------------------ */
/* 图片上传按钮的样式 START */
.fileWrap {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0.06667rem;
  margin-bottom: 0.06667rem;
  width: 1.33333rem;
  height: 0.93333rem;
  background-color: #fff;
  border: 3px dashed #e3e0df;
  cursor: pointer; }

.fileWrap input[type=file] {
  opacity: 0;
  filter: alpha(opacity=0); }

.fileWrap button {
  margin-top: -0.84rem;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #fff; }
  .fileWrap button img {
    width: 0.6rem;
    height: 0.6rem; }

.fileName {
  display: inline-block;
  vertical-align: middle;
  padding-top: 0.13333rem;
  height: 0.8rem;
  line-height: 0.93333rem;
  width: 45%;
  text-align: left; }

/* 图片上传按钮的样式 END */
/*------------------------------------------------ 下拉列表的样式 ------------------------------------------------ */
/* 下拉列表的样式 START */
select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #000;
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("../../images/puls4.png") no-repeat scroll 95% center transparent;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 0.33333rem; }

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
  display: none; }

/* 下拉列表的样式 END */
/* WebKit browsers */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #e2e2e2; }

/* Mozilla Firefox 4 to 18 */
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #e2e2e2; }

/* Mozilla Firefox 19+ */
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #e2e2e2; }

/* Internet Explorer 10+ */
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #e2e2e2; }

/*# sourceMappingURL=form_verification.css.map */
