@import '../helpers/px2rem';
@import "../helpers/css3";
@import "../main";
body{
  @include bg-color(#0f1130)
}
html{
  @include bg-color(#0f1130)
}
.about-activities-page{
  position: relative;
  @include main-page-style;
  background-image: url("../../images/about-activities-bg1.png");
  .about-activities-text{
    @include px2rem(padding-left, 0px);
    h2{
      width: 100%;
      text-align: center;
      @include px2rem(line-height,40px);
    }
    @include px2rem(margin-top, 180px);

  }
  h1{
    position: absolute;
    @include px2rem(top, 290px);
    z-index: 10;
    width: 100%;
    font-weight: normal;
    text-align: center;
    @include px2rem(font-size, 38px);
  }
}