@import '../helpers/setting';
@import '../helpers/css3';
@import "../helpers/mixin";
@import '../helpers/px2rem';
@import "../helpers/reset";
@import '../animate/attention-seekers';
@import "../animate/fade";
@import "../animate/bounce";
@import "../animate/slide";
@import "../animate/lightspeed";
@import "../main";

body {
  @include bg-color(#0f1130)
}

html {
  @include bg-color(#0f1130)
}

.founder-info-page {
  position: relative;
  @include main-page-style;
  color: #def4ed;
  background-image: url("../../images/founder-info-bg.png");
  .user-title {
    h2 {
      @include font-dpr(16px);
    }
  }
  h3 {
    @include font-dpr(14px);
  }
}

.company-info-page {
  position: relative;
  @include main-page-style;
  color: #def4ed;
  background-image: url("../../images/company-info-bg.png");
  .user-title {
    h2 {
      @include font-dpr(14px);
    }
    strong{
      @include font-dpr(20px);
      text-shadow: 0 0 1px rgba(170, 253, 50, .5), 0 0 3px rgba(170, 253, 50, .5), 0 0 5px rgba(170, 253, 50, .5), 0 0 10px rgba(170, 253, 50, .5);

    }
  }
  .border-outset {
    margin: 0 auto;
    @include px2rem(padding-top, 20px);
    @include px2rem(width, 260px);
    @include px2rem(height, 250px);
    border: 2px solid rgba(44, 219, 178, .2);
    border-radius: 50%;
    @include box-shadow(0 0 40px 5px rgba(0, 226, 197, 0.1));
  }
  .border-inset{
    margin: 0 auto;
    @include px2rem(padding-top, 20px);
    @include px2rem(width, 220px);
    @include px2rem(height, 209px);
    border: 2px solid rgba(44, 219, 178, .5);
    border-radius: 50%;
    @include box-shadow(0 0 40px 5px rgba(0, 226, 197, 0.1));
  }
  h3{
    @include font-dpr(16px);
  }
}

.founder-info-page, .company-info-page {
  .reservation-title {
    h1 {
      margin: 0;
      @include font-dpr(22px);
      @include px2rem(line-height, 80px);
    }
    p {
      @include font-dpr(14px);
      letter-spacing: 0.1em;
    }
    strong {
      @include font-dpr(18px);
      color: #2cdbb2;
    }
  }
  .user-title {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;

    .founder-title {
      margin: 0 auto;
      @include px2rem(width, 183px);
      @include px2rem(height, 67px);
      @include px2rem(line-height, 67px);
      background: url("../../images/founder-info-title.png");
      background-position: center 0;
      background-repeat: no-repeat;
      background-size: 100%;
      text-shadow: 0 0 1px rgba(170, 253, 50, .5), 0 0 3px rgba(170, 253, 50, .5), 0 0 5px rgba(170, 253, 50, .5), 0 0 10px rgba(170, 253, 50, .5);
    }
    .company-intro {
      @include font-dpr(18px);
      border-top: 1px solid #2a869d;
      text-shadow: 0 0 1px rgba(170, 253, 50, .5), 0 0 3px rgba(170, 253, 50, .5), 0 0 5px rgba(170, 253, 50, .5), 0 0 10px rgba(170, 253, 50, .5);
    }
    .company-text {
      width: 85%;
      margin: 0 auto;
      @include font-dpr(12px);
      text-align: left;
      @include px2rem(line-height, 28px);
    }
    .user-img {
      img {
        @include px2rem(width, 141px);
        @include px2rem(height, 140px);
        @include box-shadow(0 0 10px 2px rgba(170, 253, 50, .32));
        border-radius: 50%;
      }
    }

    .company-img {
      img {
        @include px2rem(width, 164px);
        @include px2rem(height, 157px);
        @include box-shadow(0 0 40px 5px rgba(247, 255, 232, 0.6));
        border-radius: 50%;
      }
    }


  }
  .res-count {
    margin: 0 auto;
    @include px2rem(height, 183px);
    @include px2rem(width, 183px);
    border-radius: 50%;
    @include gradient-vertical(rgba(27, 64, 90, .6) 65%, rgb(44, 219, 178) 35%);
    @include box-shadow(0 0 40px 5px rgb(18, 23, 70));
    strong{
      @include font-dpr(24px);
      text-shadow: 0 0 1px rgba(170, 253, 50, .5), 0 0 3px rgba(170, 253, 50, .5), 0 0 5px rgba(170, 253, 50, .5), 0 0 10px rgba(170, 253, 50, .5);
    }
    .count{
      @include px2rem(padding-top, 40px);
    }
    .res-btn{
      @include px2rem(padding-top, 15px);

    }
  }
}