@import '../helpers/px2rem';
@import "../main";
body{
  @include bg-color(#0f1130)
}
html{
  @include bg-color(#0f1130)
}
.industry-list-select-page{
  @include main-page-style;
  background-image: url("../../images/bg.png");
  .explanation{
    width: 85%;
    margin: 0 auto;
    text-align: left;
    @include px2rem(line-height,34px);
    letter-spacing: 0.1em;
  }
  .text-in{
    @include text-indent(2em);
  }
}