@import '../helpers/setting';
@import '../helpers/css3';
@import "../helpers/mixin";
@import '../helpers/px2rem';
@import "../helpers/reset";
@import '../animate/attention-seekers';
@import "../animate/fade";
@import "../animate/bounce";
@import "../animate/slide";
@import "../animate/lightspeed";
@import "../main";

body {
  @include bg-color(#0f1130)
}

html {
  @include bg-color(#0f1130)
}

.leaderboard-page {
  position: relative;
  @include main-page-style;
  background-image: url("../../images/bg.png");
  .animate-box{
    @include px2rem(height,500px);
  }
  .lb-list {
    .item-title {
      width: 100%;
      color: #e3f9e2;
      ul li {
        display: inline-block;
        @include font-dpr(16px);
        text-align: center;
        text-shadow: 0 0 1px rgba(170, 253, 50, .5), 0 0 3px rgba(170, 253, 50, .5), 0 0 5px rgba(170, 253, 50, .5), 0 0 5px rgba(170, 253, 50, .5);
      }
      li:nth-child(1) {
        width: 10%;
      }
      li:nth-child(2) {
        width: 42%;
      }
      li:nth-child(3) {
        width: 26%;
      }
      li:nth-child(4) {
        width: 15%;
        text-align: right;
      }
    }
    .lb-item {
      @include px2rem(height, 107px);
      h3 {
        box-sizing: border-box;
        width: 10%;
        float: left;
        height: inherit;
        @include px2rem(line-height, 107px);
        color: #ffdbd4;
        @include font-dpr(24px);
        border-right: 2px solid rgba(252, 75, 100, .5);
        border-top: 2px solid rgba(252, 75, 100, .5);
        border-bottom: 2px solid rgba(252, 75, 100, .5);
        background: rgba(252, 75, 100, .15);
        @include box-shadow(0 0 20px 2px rgba(252, 75, 100, .5) inset);
        text-shadow: 0 0 3px rgba(253, 155, 35, .9), 0 0 5px rgba(253, 155, 35, .9), 0 0 10px rgba(253, 155, 35, .9), 0 0 15px rgba(253, 155, 35, .9);
      }
      .company-info {
        float: right;
        box-sizing: border-box;
        width: 89%;
        height: inherit;
        text-align: left;
        border-left: 2px solid rgba(99, 212, 238, .5);
        border-top: 2px solid rgba(99, 212, 238, .5);
        border-bottom: 2px solid rgba(99, 212, 238, .5);
        background: rgba(99, 212, 238, .15);
        @include box-shadow(0 0 20px 2px rgba(99, 212, 238, .5) inset);
        p {
          @include px2rem(line-height, 26px);
        }
        .industry {
          display: block;
          float: left;
          overflow: hidden;
          @include px2rem(margin-left, 10px);
          @include px2rem(margin-right, 10px);
          @include px2rem(margin-top, 36px);
          text-align: right;
          width: 28%;
          @include font-dpr(14px);
          @include word-width(8em);
        }
        .slogan {
          float: left;
          //overflow: hidden;
          @include px2rem(margin-top, 20px);
          width: 28%;
          text-align: center;
          strong, span {
            display: inline-block;
            @include word-width(8em);
          }
          span {
            color: #9aafd6;
          }
        }
        i {
          display: block;
          float: left;
          @include px2rem(margin-left, 15px);
          @include px2rem(margin-right, 10px);
          @include px2rem(margin-top, 16px);
          @include px2rem(width, 70px);
          @include px2rem(height, 70px);
          @include px2rem(line-height, 70px);
          text-align: center;
          border-radius: 50%;
          background: #fff;
          @include box-shadow(0 0 20px 2px rgba(170, 253, 50, .5));
          img {
            @include px2rem(width, 52px);
            @include px2rem(height, 48px);
          }
        }

        .popularity {
          float: right;
          overflow: hidden;
          @include px2rem(margin-top, 35px);
          width: 10%;
          @include font-dpr(14px);
          @include px2rem(line-height, 32px);
          @include word-width(3em);
          color: #e3f9e2;
          text-shadow: 0 0 3px rgba(170, 253, 50, .9), 0 0 5px rgba(170, 253, 50, .9), 0 0 10px rgba(170, 253, 50, .9), 0 0 15px rgba(170, 253, 50, .9);
        }
      }
    }
  }
}