@import '../helpers/setting';
@import '../helpers/css3';
@import "../helpers/mixin";
@import '../helpers/px2rem';
@import "../helpers/reset";
@import '../animate/attention-seekers';
@import "../animate/fade";
@import "../animate/bounce";
@import "../animate/slide";
@import "../animate/lightspeed";
@import "../main";


body, html {
  @include bg-color(#0f1130);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.page-wrap {
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.arrow{
  position: absolute;
  left: 50%;
  bottom: 10px;
  width: 64px;
  height: 58px;
  margin-left: -32px;
  background: url(../../images/arrow.png) no-repeat;
  background-size: 100%;
  opacity: 0;
}

.arrow-h{
  position: absolute;
  right: 10px;
  top: 50%;
  width: 64px;
  height: 58px;
  margin-top: -29px;
  opacity: 0;
}

.arrow-h i{
  display: block;
  width: 64px;
  height: 58px;
  background: url(../../images/arrow.png) no-repeat;
  background-size: 100%;
  -webkit-transform: rotate(-90deg);
}


.page-common {
  position: relative;
  width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100%;
  color: #def4ed;
}

.page1 {
  background-image: url("../../images/main-bg.png");
}
.page2 {
  background-image: url("../../images/founder-info-bg.png");
}
.page3 {
  background-image: url("../../images/company-info-bg.png");
}


/* 第一屏 公司基本信息 */
.company-info-page {
  h3{
    @include font-dpr(14px);
  }
  .user-title {
    width: 60%;
    @include px2rem(min-height,500px);
    margin-left: auto;
    margin-right: auto;
    p {
      @include font-dpr(14px);
    }
    h2{
      @include font-dpr(16px);
    }
    strong {
      @include font-dpr(20px);
      text-shadow: 0 0 1px rgba(170, 253, 50, .5), 0 0 3px rgba(170, 253, 50, .5), 0 0 5px rgba(170, 253, 50, .5), 0 0 10px rgba(170, 253, 50, .5);
    }
  }
  .border-outset {
    margin: 0 auto;
    @include px2rem(padding-top, 20px);
    @include px2rem(width, 240px);
    @include px2rem(height, 230px);
    border: 2px solid rgba(44, 219, 178, .2);
    border-radius: 50%;
    @include box-shadow(0 0 40px 5px rgba(0, 226, 197, 0.1));
  }
  .border-inset {
    margin: 0 auto;
    @include px2rem(padding-top, 20px);
    @include px2rem(width, 200px);
    @include px2rem(height, 189px);
    border: 2px solid rgba(44, 219, 178, .5);
    border-radius: 50%;
    @include box-shadow(0 0 40px 5px rgba(0, 226, 197, 0.1));
  }
  .res-count {
    margin: 0 auto;
    @include px2rem(height, 163px);
    @include px2rem(width, 163px);
    border-radius: 50%;
    @include gradient-vertical(rgba(27, 64, 90, .6) 65%, rgb(44, 219, 178) 35%);
    @include box-shadow(0 0 40px 5px rgb(18, 23, 70));
    strong {
      @include font-dpr(24px);
      text-shadow: 0 0 1px rgba(170, 253, 50, .5), 0 0 3px rgba(170, 253, 50, .5), 0 0 5px rgba(170, 253, 50, .5), 0 0 10px rgba(170, 253, 50, .5);
    }
    .count {
      @include px2rem(padding-top, 30px);
    }
    .res-btn {
      @include px2rem(padding-top, 8px);
    }
  }
  .company-img {
    img {
      @include px2rem(width, 164px);
      @include px2rem(height, 157px);
      @include box-shadow(0 0 20px 3px rgba(247, 255, 232, 0.6));
      border-radius: 50%;
    }
  }
}

/* 第二屏 创始人信息 */
.founder-info-page {
  .user-title {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    h2 {
      @include font-dpr(16px);
    }
    h3 {
      @include font-dpr(14px);
    }

    .founder-title {
      margin: 0 auto;
      @include px2rem(width, 183px);
      @include px2rem(height, 67px);
      @include px2rem(line-height, 67px);
      background: url("../../images/founder-info-title.png");
      background-position: center 0;
      background-repeat: no-repeat;
      background-size: 100%;
      text-shadow: 0 0 1px rgba(170, 253, 50, .5), 0 0 3px rgba(170, 253, 50, .5), 0 0 5px rgba(170, 253, 50, .5), 0 0 10px rgba(170, 253, 50, .5);
    }
    .company-intro {
      @include font-dpr(18px);
      border-top: 1px solid #2a869d;
      text-shadow: 0 0 1px rgba(170, 253, 50, .5), 0 0 3px rgba(170, 253, 50, .5), 0 0 5px rgba(170, 253, 50, .5), 0 0 10px rgba(170, 253, 50, .5);
    }
    .company-text {
      width: 85%;
      margin: 0 auto;
      @include font-dpr(12px);
      text-align: left;
      @include px2rem(line-height, 28px);
    }
    .user-img {
      img {
        @include px2rem(width, 141px);
        @include px2rem(height, 140px);
        @include box-shadow(0 0 10px 2px rgba(170, 253, 50, .32));
        border-radius: 50%;
      }
    }

  }
}

/* 第三屏 产品介绍页 */
.product-showcase-page {
  .pro-list {
    .pro-item {
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      padding: 6px 30px;
      width: 100%;
      color: #b9c4ff;
      text-align: left;
      border-top: 1px solid rgba(255, 255, 255, .2);
      border-bottom: 1px solid rgba(255, 255, 255, .2);
      background: rgba(55, 53, 118, .3);
      @include box-shadow(0 0 10px 1px rgba(55, 53, 118, .4) inset);
    }
    h2 {
      @include font-dpr(16px);
      color: #2cdbb2;
    }
    strong {
      color: #e3f9e2;
      @include font-dpr(20px);
      text-shadow: 0 0 1px rgba(170, 253, 50, .5), 0 0 3px rgba(170, 253, 50, .5), 0 0 5px rgba(170, 253, 50, .5), 0 0 10px rgba(170, 253, 50, .5);
    }
    .market {
      color: #8e8e8e;
      text-decoration: line-through;
      @include text-indent(3.5em);
    }
    .pro-price {
      width: 100%;
      letter-spacing: 0.1em;
      p {
        display: inline-block;
        width: 49%;
      }
      .our-price {
        text-align: right;
      }
    }
    .pro-text {
      @include word-width(94%);
    }
  }
}

/* 第四屏 邀约 */
.activities-page{
  // 统计文字
  .sign-up-count{
    @include px2rem(margin-top, 120px);
    text-align: center;
    letter-spacing: 0.1em;
    p{
      @include font-dpr(14px);
      //@include px2rem(font-size, 32px);
      color: #b9c4ff;
      strong{
        color: #4afed4;
        @include font-dpr(18px);
        //@include px2rem(font-size, 40px);
        font-weight: 900;
      }
    }
    .text-indent-p1{
      text-indent: -0.3em;
    }
    .text-indent-p2{
      text-indent: -1em;
    }
  }
  .reservation-text{
    @include font-dpr(14px);
  }
}
